<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="sl5" />
  <package id="Castle.Core" version="3.3.3" targetFramework="sl5" />
  <package id="GraphLabs.Common" version="1.6.0" targetFramework="sl5" />
  <package id="GraphLabs.Common.Utils" version="1.2.0" targetFramework="sl5" />
  <package id="GraphLabs.CommonUI" version="1.6.0" targetFramework="sl5" />
  <package id="GraphLabs.Graphs" version="1.6.0" targetFramework="sl5" />
  <package id="GraphLabs.Graphs.UIComponents" version="1.6.0" targetFramework="sl5" />
  <package id="GraphLabs.Tasks.Contract" version="1.2.0" targetFramework="sl5" />
  <package id="GraphLabs.Utils" version="1.6.0" targetFramework="sl5" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="sl5" />
  <package id="SilverlightToolkit-All" version="4.2010.4" targetFramework="sl5" />
  <package id="SilverlightToolkit-Core" version="4.2010.4" targetFramework="sl5" />
  <package id="SilverlightToolkit-Data" version="4.2010.4" targetFramework="sl5" />
  <package id="SilverlightToolkit-DataViz" version="4.2010.4" targetFramework="sl5" />
  <package id="SilverlightToolkit-Input" version="4.2010.4" targetFramework="sl5" />
  <package id="SilverlightToolkit-Layout" version="4.2010.4" targetFramework="sl5" />
  <package id="SilverlightToolkit-Theming" version="4.2010.4" targetFramework="sl5" />
</packages>